services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: project-manager-app
    restart: unless-stopped
    network_mode: "host"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - NEXT_TELEMETRY_DISABLED=1
