services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - NEXT_PUBLIC_API_KEY=${NEXT_PUBLIC_API_KEY}
        - NEXT_PUBLIC_ADMIN_USERNAME=${NEXT_PUBLIC_ADMIN_USERNAME}
        - NEXT_PUBLIC_ADMIN_PASSWORD=${NEXT_PUBLIC_ADMIN_PASSWORD}
    container_name: project-manager-app
    restart: unless-stopped
    network_mode: "host"
    read_only: true
    deploy:
      resources:
        limits:
          memory: 1G
    tmpfs:
      - /tmp:size=64M
      - /var/tmp:size=64M
      - /app/.next/cache:size=256M
    dns:
      - 8.8.8.8
    # cap_drop:
    #   - ALL
    cap_add:
      - NET_BIND_SERVICE
    security_opt:
      - no-new-privileges:true
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - NEXT_TELEMETRY_DISABLED=1
      - PORT=3000
      - HOSTNAME=0.0.0.0
